<app-nav-bar id="NavBar"></app-nav-bar>
<div id="Banner">
    <div id="Center">
        <div id="content">
            <div id="Title">
                <h1>Cuida con confianza: <br>
                    conectando familias con niñeras</h1>
            </div>
            <div id="descDiv">
                <p>Aquí podrás encontrar fácilmente un servicio de cuidado de niños confiable y de calidad. Conecta con niñeras verificadas y comparte tus experiencias para ayudar a otros padres.
                </p>    
            </div>
           <div id="buttons">
                <button>Encuentra una niñera</button>
                <button>Únete como niñera</button>
           </div> 
            <!-- <div class="card flex justify-content-center">
                <p-cascadeSelect id="ButtonCity" [(ngModel)]="selectedCity" [options]="countries" optionLabel="cname" optionGroupLabel="name" [optionGroupChildren]="['states', 'cities']" [style]="{ minWidth: '14rem' }" placeholder="Búsca tu localidad"></p-cascadeSelect>
            </div> -->
        </div>
        <img src="/assets/Family.jpg">
    </div>
</div>
