<app-nav-bar></app-nav-bar>
<div id="banner">
    <div id="text">
        <div id="textBanner">
            <h1>Nuestras niñeras</h1>
            <p>Debajo podrás ver nuestras niñeras cercas <br>
                de tu zona y que cumplan con tus necesidades
            </p>
        </div>
    </div>
    
    <div id="filter">
        <div id="filterButton" class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Filtrar por</button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item">Ubicación</a></li>
              <li><a class="dropdown-item">Habilidades</a></li>
              <li><a class="dropdown-item" href="#">Horario</a></li>
            </ul>
        </div>
    </div>
    <div id="listBabySitters">
        <div id="cardsBabySitters">
            <div id="indCard">
                <div class="card w-75">
                    <div class="card-body">
                        <h5 class="card-title">Nombre y apellido</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Button</a>
                    </div>
                </div>
            </div>
              
        </div>
        <div id="profileBabySitter">  
            <div id="profileDiv" class="card" >
                <img src="./assets/Profile1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Nombre</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">An item</li>
                  <li class="list-group-item">A second item</li>
                  <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
        </div>

    </div>
</div>