<app-nav-bar></app-nav-bar>
<div id="banner">
    <div id="text">
        <div id="textBanner">
            <h1>Nuestras niñeras</h1>
            <p>Debajo podrás ver nuestras niñeras cercas <br>
                de tu zona y que cumplan con tus necesidades
            </p>
        </div>
    </div>
    
    <div id="filter">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown button
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" >Action</a></li>
              <li><a class="dropdown-item" >Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
    </div>
    
    