<app-nav-bar></app-nav-bar>
<div id="MainDiv" class="form-group">
    <div id="MenuDiv">
        <div id="profileImg">
            <div id="loadImgDiv">
                <div id="imgDiv" class="imagen" *ngFor="let image of uploadedImages">
                    <img *ngIf="image" [src]="image" alt="Imagen cargada"/>
                </div>
                <div id="textImgDiv">
                    <label id="botonCargar"for="imagenes"><span>Cargar imágen</span></label>                     
                    <input type="file" id="imagenes" name="images"  (change)="reemplazarImagen($event)" accept="image/*" />
                </div>
            </div>
        </div>
        <div id="inputsDiv">
            <div id="leftCol">
                <div class="indInput">
                    <p>Nombre y apellido</p>
                    <input type="text" [(ngModel)]="nameAndLast">
                </div>
                <div class="indInput">
                    <p>Contraseña</p>
                    <input type="password" [(ngModel)]="pass">
                </div>
                <div class="indInput">
                    <p>Ubicación</p>
                    <input type="text" [(ngModel)]="location">
                </div>
                
            </div>
            <div id="rightCol">
                <div class="indInput">
                    <p>Correo</p>
                    <input type="mail" [(ngModel)]="mail">
                </div>
                
                <div class="indInput">
                    <p>Repita contraseña</p>
                    <input type="password" [(ngModel)]="pass2">
                </div>
                
                <div class="indInput">
                    <p>Número telefónico</p>
                    <input type="text" [(ngModel)]="telNumber">
                </div>
                
            </div>
        </div>
        <div id="buttonDiv">
            <input id="regBut" type="button" name="images" (click)="submitButton($event)" value="Registrarme">
        </div>
        
    </div>
</div>