<app-nav-bar></app-nav-bar>
<div id="MainDiv" class="form-group">
    <div id="MenuDiv">
        <div id="profileImg">
            <div id="loadImgDiv">
                <div id="imgDiv">
                    <img src="./assets/User.png">
                </div>
                <div id="textImgDiv">
                    <p>Cargue una imagen</p>
                     
                    
                    <!-- <input id="imgInput" name="file-1" class="inputfile inputfile-1" type="file" accept="image/png, image/jpeg">
                    <label for="file-1"></label>
                    <svg xmlns="http://www.w3.org/2000/svg" class="iborrainputfile" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg>
                    <span class="inputfile" for="file-1">Seleccionar archivo</span> -->
                </div>
            </div>
        </div>
        <div id="inputsDiv">
            <div id="leftCol">
                <div class="indInput">
                    <p>Nombre y apellido</p>
                    <input type="text" [(ngModel)]="nameAndLast">
                </div>
                <div class="indInput">
                    <p>Contraseña</p>
                    <input type="password" [(ngModel)]="pass">
                </div>
                <div class="indInput">
                    <p>Ubicación</p>
                    <input type="text" [(ngModel)]="location">
                </div>
                
            </div>
            <div id="rightCol">
                <div class="indInput">
                    <p>Correo</p>
                    <input type="mail" [(ngModel)]="mail">
                </div>
                
                <div class="indInput">
                    <p>Repita contraseña</p>
                    <input type="password" [(ngModel)]="pass2">
                </div>
                
                <div class="indInput">
                    <p>Número telefónico</p>
                    <input type="text" [(ngModel)]="telNumber">
                </div>
                
            </div>
        </div>
        <div id="buttonDiv">
            <input id="regBut" type="button" (click)="submitButton()" value="Registrarme">
        </div>
        
    </div>
</div>