#MainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    margin: 0;
}
#MenuDiv {
    height: 70%;
    width: 50%;
    background-color: lightgray;
    border-radius: 30px;
}
#FormDiv {
    height: 70%;
    display: flex;
    justify-content: center;
    align-content: center;   
}
#InputDiv {
    margin-top: 5%;
}
#rememberDiv {
    display: flex;
    justify-content: center;
}
input, button {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: #e4a3a3;
    color: white;
    padding: 5%;
    margin: auto;
    margin-bottom: 10%;
    align-items: center;
}
input {
    width: 90%;
}
input:focus, button:focus {
    background-color: #f8acac;
    color: white;
}
p {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin-top: 5%;
}
::placeholder {
    color:white;
}
input:focus::-webkit-input-placeholder {
	color : transparent;
}
#rememberCheck {
    width: 20px;
}
#checksDiv {
    display: flex;
    justify-content: center;
}
label {
    color: #f58181
}
#rememberCheck {
    border-radius: 50px;
}
input[type="checkbox"] {
    accent-color: #f8acac;
    background-color: #f58181;
    color:#e4a3a3;
    flex-shrink: 0;
}