<app-nav-bar></app-nav-bar>
<div id="MainDiv" class="form-group">
    <div id="MenuDiv">
        <p>Inicio de sesión</p>
        <div id="FormDiv">
            <div id="InputDiv">
                <input [(ngModel)]="UserEmail" id="InputEmail" type="email" class="form-control" placeholder="Correo">
                <input [(ngModel)]="UserPass" type="password" placeholder="Contraseña" (keyup.enter)="SendLoginInfo()">
                <button type="button" (click)="SendLoginInfo()">Inicia sesión</button>
                <a id="LoginButton" href="/FirstQuestionRegister">¿No tienes una cuenta? Regístrate</a>
            </div>
        </div>
    </div>
</div>