#MainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    margin: 0;
}
#MenuDiv {
    height: 70%;
    width: 50%;
    background-color: lightgray;
    border-radius: 30px;
}
#FormDiv {
    height: 100%;
    display: flex;
    justify-content: center;
    
    align-items: center;
    margin-bottom: 70%;
}
#InputDiv {
    margin-top: 5%;
}
#rememberDiv, #forgottenDiv {
    display: flex;
    justify-content: center;
}
#inputEmail, #inputPass,  button {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 50px;
    width: 400px;
    border-radius: 10px;
    border: none;
    background-color: #e4a3a3;
    color: white;
    padding: 5%;
    margin: auto;
    margin-bottom: 10%;
    align-items: center;
}
#inputPass, button {
    margin-bottom: 5%;
}
input:focus, button:focus {
    background-color: #f8acac;
    color: white;
}
p {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin-top: 5%;
}
::placeholder {
    color:white;
}
input:focus::-webkit-input-placeholder {
	color : transparent;
}
#rememberCheck {
    width: 20px;
}
#checksDiv {
    display: flex;
    justify-content: center;
    height: 30px;
}
label {
    color: #f58181;
    padding-top: 2px;
}
#rememberCheck {
    border-radius: 50px;
    margin-right: 5%;
}
input[type="checkbox"] {
    accent-color: #f8acac;
    background-color: #f58181;
    color:#e4a3a3;
    flex-shrink: 0;
}
a {
    color: #f58181;
    text-decoration: none;
}
a:hover {
    color:#f62828;
}
button:hover {
    background-color:#f58181;
}
#loginButton {
    width: 33%;
    margin-top: 3%;
}
#registerButton {
    display: flex;
    justify-content: center;
}