#MainDiv {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
#menuDiv {
    margin-top: 4%;
    height: 70%;
    width: 60%;
    background-color: lightgray;
    border-radius: 30px;
}
#banner {
    background-image: url(/assets/Waves3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 550px;
    width: 100%;
    margin-top: 1%;
    z-index: -1;
}
#textBanner {
    margin-top: 5%;
    color: white;
    display: inline-block;
}
#text {
    display: flex;
    justify-content: center;
}
#filter {
    background-color: white;
    height: 50px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-top: 20%;
    border: 1px solid lightgrey;
    margin-left: 37px;
}
button, 
#buttonCard {
    width: 120px;
    background-color: #e6a9a9;
    border: none;
    border-radius: 10px;
    color: white;
    height: 40px;
}
#buttonCard:hover, 
button:hover {
    background-color: grey;
    transition: 0.3s;
}
.dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 10px;
    border: none;
}
#listBabySitters {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    height: 750px;
}
#cardsBabySitters {
    display: block;
    width: 900px;
    height: 450px;
    overflow-y: auto;  
}
.profileBabySitter {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 750px;
}
#profileDiv {
    width: 600px;
    box-shadow: -3px 1px 41px -18px rgba(0,0,0,0.75);
}
#indCard {
    width: 700px;
    margin-left: 5%;
    margin-bottom: 3%;
    height: 150px;
    border-radius: 20px;
    margin-top: 30px;
}
#filterButton {
    margin-left: 2%;
}
#indCardBabySitterImg {
    width: 120px;
    border-radius: 10px;
}
#card {
    display: flex;
    
    height: 150px;
}
#cardInfo {
    margin-left: 20px;
    display: block;
    width: 300px;
}
#card1 {
    display: flex;
    justify-content: center;
}
.card-text {
    margin: 0;
    color: #e6a9a9;
    font-weight: 600;
    font-size: 13px;
}
#cardButton {
    display: flex;
    justify-content: flex-end;
    height: 50px;
    align-items: center;
    margin-top: 80px;
}
#calification {
    margin-left: 5%;
    color: #e6a9a9;
}
span {
    color: black;
}
#contactMenu {
    width: 500px;
    height: 200px;
    border: 1px solid rgb(163, 162, 162);
    padding: 15%;
}
#contactText1, 
#contactText2 {
    width: 100%;
    height: 30px;
}
#contactText1 a {
    font-weight: 700;
}
#contactButton {
    margin: 2%;
}
#cross {
    width: 40px;
}
.card-shadow {
    box-shadow: 3px 1px 41px -18px rgba(0, 0, 0, 0.75);
}
.spanInfo {
    color:#e6a9a9;
}