<app-nav-bar></app-nav-bar>
<div id="CardsFirstQuestion">
    <div class="indCard">
            <img alt="Card" src="../assets/Babysitter.jpg" />
            <p>Aquí podrás registrarte como niñero/a para poder contactar con familias que requieran este servicio</p>
            <button (click)="RedirectBabySittersAfterFirstQuestion()">Registrarme como niñero/a</button>
    </div>
    <div class="indCard">
        <img alt="Card" src="../assets/Dads.png" />
        <p>Aquí podrás registrarte como padre/madre para poder contactar con niñeros/as cerca de tu zona</p>
        <button (click)="RedirectDadsAfterFirstQuestion()">Registrarme como padre/madre</button>
    </div>
</div>