#CardsFirstQuestion {   
    display: flex;
    justify-content: center;
}
#CardsFirstQuestion p-card {
    margin-top: 2%;
    margin-left: 2%;
}
img {
    height: 250px;
}
#babysitterButton {
    background-color: blue;
}
button {
    background-color: #f8acac;
    color: white;
    height: 50px;
    border-radius: 10px;
    border: none;
    width: 320px;
}
button:hover {
    background-color: #f17979;
}
.indCard {
    text-align: center;
    border: 1px solid lightgrey;
    border-radius: 20px;
    height: 500px;
    width: 400px;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 3%;
    box-shadow: -3px 1px 41px -18px rgba(0,0,0,0.75);
    -webkit-box-shadow: -3px 1px 41px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 1px 41px -18px rgba(0,0,0,0.75);
}
.indCard
.indCard button, img, button, p{
    margin-top: 10%;
}
