<app-nav-bar></app-nav-bar>
<div id="CardsFirstQuestion">
    <p-card header="Niñero/niñera" [style]="{ width: '360px' }">
        <ng-template pTemplate="header">
            <img alt="Card" src="../assets/Babysitter.jpg" />
        </ng-template>
        <p>
            Aquí podrás registrarte como niñero/a para poder contactar con familias que requieran este servicio
        </p>
        <ng-template pTemplate="footer">
            <p-button (click)="RedirectBabySittersAfterFirstQuestion()" label="Registrarme como niñero/a" icon="pi pi-check"></p-button>
        </ng-template>
    </p-card>
    <p-card header="Padre/madre" [style]="{ width: '360px' }">
        <ng-template pTemplate="header">
            <img alt="Card" src="../assets/Dads.png"/>
        </ng-template>
        <p>
            Aquí podrás registrarte como padre/madre para poder contactar con niñeros/as cerca de tu zona
        </p>
        <ng-template pTemplate="footer">
            <p-button (click)="RedirectDadsAfterFirstQuestion()" label="Registrarme como padre/madre" icon="pi pi-check"></p-button>
        </ng-template>
    </p-card>
</div>