#NavBar {
    display: flex;
    justify-content:space-between;
    height: 100px;
    padding: 0;
}
#SecLogo {
    height: 100%;
    width: 15%;
}
#Logo {
    height: 100%;
    display: flex;    
    justify-content: center;
    align-items: center;
    margin-left: 60%;
    margin-top: 3%;
}
#ImgLogo {
    height: 100%;
    border-radius: 10px;
}
#ImgLogo:hover {
    cursor: pointer;
    filter:saturate(85%);
    transition: 0.3s;
}
a {
    height: 90%;
    display: flex;
    align-items: center;
}
#Access {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content:center;
    align-items: center;
}
#Access a {
    color: #e88484;
    text-decoration: none;
}
#Access a:hover {
    color: #f8acac;
    transition: 0.5s;
}
#Access p-button, app-login-menu, app-logged-menu, app-not-menu, app-lik-menu {
    margin: 2%;
}
button {
    color: white;
    background-color: #e88484;
    border-radius: 5px;
    height: 35px;
    border: none;
    
    margin-left: 5%;
}
button:hover {
    background-color: #f8acac;
    transition: 0.3s;
}